@{
    ViewData["Title"] = "Наши контакты";
}
<h2>@ViewData["Title"]</h2>
<p>Номер телефона: +7-988-641-22-11</p>
<p>Адрес электронной почты: megaFarm@gmail.com</p>
<p>Наш филиал: Ульяновская обл. г.Ульяновск ул.Пушкина, 20/2a</p>